{{>headerLogin}}
<body class="text-center">
    <div class="container">
    <div class="row">
        <div class="col-md-4 order-md-1"
        <h1>Bienvenido {{nombre}}</h1>
        </div>
     </div>
    </div>
</body>
{{>footer}}