{{>headerLogin}}

<body class="text-center">
    <div class="container">
        <h2>Lista de Cursos</h2>   
         {{#each cursos}} 
        <div class="row">
                <div class="col-md-6 mb-3">
                    <h1>{{this.nombre}}</h1>
                        <a href="#demo" class="btn btn-primary" data-toggle="collapse">Ver Inscritos</a>
                            <div id="demo" class="collapse">
                                {{#each encontrado}}
                                <p> Nombre: {{this.nombre}} </p>  
                                <p> Documento: {{this.documento}} </p>  
                                <p> Correo: {{this.correo}} </p>  
                                {{/each}} 
                            </div>
                 </div>
        </div>         
        {{/each}} 
       
    </div>

</body>

{{>footer}}
