{{>header}}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2 order-md-1"></div>
            <div class="col-md-8 order-md-1">
    <h1>Registro</h1>
    <p>El resultado del registro de usuario es el siguiente: {{crear documentoIdentidad nombre correo telefono}}</p>
    
        </div>
            <div class="col-md-2 order-md-1"></div>
        </div>
    </div>    
{{>footer}}