{{>header}}

<body class="text-center">
    <div class="container">
        <h2>Lista de Cursos</h2>    

            <table class="table">
                <thead>
                    <tr>
                        <th data-field="id">Nota</th>
                        <th data-field="name">Item Name</th>
                        <th data-field="price">Item Price</th>
                     </tr>
                </thead>
            </table>
    </div>
    <div class="container">
        <h2>Actualizar Cursos</h2> 
            <select class="form-control">
                <option value="presencial">Presencial</option>
                <option value="virtual">Virtual</option>
            </select>
            <div class="invalid-feedback">
                Por favor ingrese la modalidad del curso .
            </div>
            </br>   
            
                <button type="button" class="btn btn-primary" type= "submit">Enviar</button>
    </div>

</body>




{{>footer}}